.sso {
  height: 38px;
  width: 118px;
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  .image {
    border-radius: 24px;
  }
  .username {
    margin: 0 8px;
    color: #232323;
  }
  .icon {
    margin-top: 3.5px;
  }
}
