.sso {
  height: 38px;
  width: 118px;
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  .image {
    height: 24px;
    width: 24px;
    border-radius: 24px;
  }
  .username {
    margin: 0 8px;
    color: #232323;
    width: 40px;
  }
}
