.menuItem {
  margin-right: 30px;
  cursor: pointer;
  color: #aaaaaa;
}
.menuActive {
  margin-right: 30px;
  color: #ffffff;
  cursor: pointer;
}
.menuContainer {
  display: flex;
  justify-content: center;
  width: 800px;
  :last-child {
    margin-right: 0;
  }
}
